@import url("reset.css");
:root{
    --main-color: #3E4459;
    --black: #333;
    --main-font-family: 'Roboto Serif', serif;
    --second-font-family: 'Montserrat', sans-serif;
}
/* RWD reset */
img{
	max-width:100%;
	height:auto;
}
/* 全域border-box */
*,*::before,*::after{
	box-sizing: border-box;
}
body{
    background-color: #F7F5F2;
	font-family: var(--main-font-family);
}
a{
	text-decoration: none;
}

.ma-0{
	margin: 0 auto;
}
.mw-1260{
	max-width: 1260px;
}
/* header */
header{
    width: 100%;
    background-color: #F7F5F2;
    box-shadow: 0 5px 7px #d9d9d9;
    position: sticky;
    top: 0;
    z-index: 5;
}
.container{
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 4.5%;
	padding-right: 4.5%;
}
.logo{
	width: 82px;
	margin: 5px 0;
}
.logo img{
	width: 100%;
	display: block; 
}
.menu{
	display: flex;
}
.menu a{
	color:#3E4459;
	font-size: 0.875rem;
	transition:  transform .6s, border-bottom .8s;
	border-bottom: 2px solid rgba(163, 186, 217, 0);
}
.menu li{
	padding: 2rem 1.5rem;
}
.menu li a{
	display: block;
}
.menu li:hover > a{
	transform: translateY(-5px);
	border-bottom: 2px solid rgba(163, 186, 217, .7);
}
.explore{
	position: relative;
}
.explore ul{
	display: none;
	width: 115%;
	position: absolute;
	top: 100%;
	left:0;
	background-color: rgb(255, 255, 255, .7);
	backdrop-filter: blur(3px);
	border-radius: 0 0 5px 5px;
}
.explore:hover ul{
	display: block;
}
.nav-arrow{
	display: none;
}
.hb{
	display: none;
}
/* learn more button */
.learn-more-btn{
	background-color: #3E4459;
	color: #ffffff;
	text-align: center;
	border-radius: 20px;
	width: 160px;
	padding: 15px 25px;
	border: none;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}
.learn-more-btn:hover{
	background-color: #ffffff;
	color: #3E4459;
	border-radius: 20px;
	width: 160px;
	padding: 15px 25px;
	border: 1px solid #3E4459;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}
/* footer */
footer{
	background-color: #F7F5F2;
	color: #3E4459;
	font-family:'Roboto Serif', serif;
	margin-top: 50px;
  }
  a{
	text-decoration: none;
	color: #3E4459;
  }
  /* .footer-container{
	padding: 100px 10%;
  } */
  .footer-list-group{
	display: flex;
	flex-wrap: wrap;
	padding: 35px 10%;
	justify-content: space-between;
  }
  .footer-list:first-child .footer-list-item ul{
	display: flex;
	justify-content: space-around;
  }
  .footer-list-title{
	margin-bottom: 16px;
  }
  .mt5{
	margin-top: 7px;
  }
  label{
	/* line-height: 1.4375em; */
	padding: 0px;
	display: block;
	max-width: 100%;

}
  footer input{
	width: 300px;
	border: none;
	outline:none;
	background: none;
	height: 2em;
  }
  footer input[type="email"]{
	border-bottom: 1px solid #3E4459;
  }
  footer button{
	border: none;
	background-color: transparent;
  }
  footer button:hover{
	cursor: pointer;
  }
  footer .fa-solid{
	color:#3E4459;
  }
  .copyright{
	font-size: 14px;
	color: #9F9F9F;
	text-align: center;
	margin-bottom: 20px;
  }

  /* header RWD */
  @media screen and (max-width: 1055.33px) {
	.menu{
		display: none;
		position: absolute;
		width: 100%;
		background-color: #fff;
		top: 100%;
		left: 0;
		animation: hbfadeout .6s ease-in-out;
	}
	.hb{
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		cursor: pointer;
	}
	.hb span{
		display: block;
		width: 80%;
		height: 2px;
		background-color: #3E4459;
		position: absolute;
		inset: 0;
		margin: auto;
	}
	.hb span:nth-child(1){
		translate: 0px -10px;
		rotate: 0deg;
		transition: rotate 0.3s 0s,
					translate 0.3s 0.3s;
	} 
	.hb span:nth-child(2){
		opacity: 1;
		transition: opacity 0.6s;
	}
	.hb span:nth-child(3){
		translate: 0px 10px;
		rotate: 0deg;
		transition: rotate 0.3s 0s,
					translate 0.3s 0.3s;
	}
	.hb.isactive span:nth-child(1) {
		rotate: 45deg;
		translate: 0px 0px;
		transition: translate 0.3s 0.3s, 
					rotate 0.3s 0.6s;
	}
	.hb.isactive span:nth-child(2) {
		opacity: 0;
		transition: opacity 0.3s;
	}
	.hb.isactive span:nth-child(3) {
		rotate: -45deg;
		translate: 0px 0px;
		transition: translate 0.3s 0.3s, 
					rotate 0.3s 0.6s;
	}
	.menu.active {
		display: block;
		animation: hbfadein .6s ease-in-out;
	}
	
	@keyframes hbfadein {
		from{transform: translateX(-100%); opacity: 0;}
		to {transform: translateX(0%); opacity: 1;}
		}
	@keyframes hbfadeout {
		from{transform: translateX(0%); opacity: 1;}
		to {transform: translateX(-100%); opacity: 0;}
		}
	.menu a{
		display: block;
		text-align: center;
		padding: 15px;
		font-size: 14px;
	}
	.menu a + a{
	  border-top: #3E4459 1px;
	}
	.nav-arrow{
		width: 30px;
		flex-shrink: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	.menu .explore{
		display: flex;
	}
	.menu .explore > a{
		width: calc(100% - 30px);
	}
	.sub-menu{
		background-color: #fff;
	}
}

  
  @media screen and (max-width: 1020px){
    .footer-list{
      padding-right: 5px;
      padding-left: 5px;
    }
    footer .footer-list-title-mt{
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 768px){ 
	.mw-1260{
		max-width: 720px;
	}
	.logo{
		width: 60px;
	}
	.container{
		padding: 2% 5%;
	}
	header{
		margin-bottom: 50px;
	}
	
	.bread-crumb-wrap{
		display: none;
	}
	  
}


  /* 手機直向 */
  @media screen and (max-width: 414px){
    .mw-1260{
      max-width: 400px;
    }
	/* logo縮小 */
    .logo{
      width: 60px;
    }
	/* footer設定 */
    .footer-list-group{
      justify-content: center;
      align-items: center;
    }
    .footer-list{
      width: 100%;
    }
    footer .footer-list-title-mt{
      margin-top: 0;
    }
    .footer-list{
      margin-bottom: 50px;
    }
    .footer-list:first-child .footer-list-item ul{
     justify-content: start;
    }
    .footer-list:first-child .footer-list-item li{
      padding : 0 10px;
    }
    footer input {
      max-width: 250px;
      width: 100%;
    }
  }