/* breadcrumb */
.bread-crumb-wrap ol{
  display: flex;
  margin-left: 8.59375vw;
  margin-top: 25px;
  margin-bottom: -50px;
  position: relative;
  z-index: 0;
}
.bread-crumb-wrap a{
  color: var(--main-color);
  font-size: 16px;
  line-height: 22px;
}
.bread-crumb-wrap li + li::before{
  content: '/';
  display: inline-block;
  color:#000;
  width: 20px;
}
.bread-crumb-wrap li + li{
  padding-left: 12px;
}
/* banner */
.banner-container{
    width: 100%;
    position: relative;
    z-index: -1;
}
.banner-container img{
    width: 100%;
}
@keyframes slidedown{
  from{transform: translateY(-150%);
  to{transform: translateY(0);}}
}
h1{
    position: absolute;
    font-size: 75px;
    font-weight: 500;
    text-align: center;
    color: var(--main-color);
    height: 75px;
    inset:0;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    animation: slidedown 1s ease-in-out;
}
.main-container{
    max-width: 550px;
    margin: 0 auto;
}
h2{
    font-size: 40px;
    color: var(--main-color);
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 35px;
}
.main-container p{
   margin-bottom: 50px;
   font-weight: 500;
   line-height: 1.5;
}
form label{
    display: block;
    margin: 30px 0;
    color: #000;
}
input, textarea, select{
    width: 100%;
    margin: 15px 0;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #F7F5F2;
    border: 1px solid #666;
    color:var(--main-color);
    outline: none;
    font-size: 16px;
    line-height: 1.5;
}
input:focus, textarea:focus, select:focus{
    border: 1px solid #3E4459;
}
textarea{
    height: 100px;
    resize: vertical;
}
.file-upload{
    position: relative;
    border: 1px solid #3E4459;
    border-radius: 4px;
    background-color: #ffffff;
}
.file-upload span{
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--second-font-family);
    display: block;
    line-height: 100px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
label[for="attachments"]{
    margin-top: 0;
    margin-bottom: 15px;
}
input[type="file"]{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
}
input[type="submit"] {
    display: block;
    width: 90px;
    height: 34px;
    background-color: var(--main-color);
    font-family: var(--main-font-family);
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
  }
  
  
    /* RWD */
  @media screen and (max-width: 768px){
    /* .bread-crumb-wrap a{
      font-size: 14px;
    }
    .bread-crumb-wrap li + li::before{
      content: '/';
      display: inline-block;
      width: 10px;
    }
    .bread-crumb-wrap li + li{
      padding-left: 5px;
    } */
    .bread-crumb-wrap{
      display: none;
    }
    /* header a{
      font-size: 12px;
    } */
    
    h1{
      font-size: 35px;
    }
    mw-1260{
      max-width: 720px;
    }
    .logo{
      width: 70px;
    }
    .container{
      padding: 2% 5%;
    }
    .main-container{
      max-width: 405px;
      margin: 0 auto;
    }
    .mt{
      margin-top: 20px;
    }
    
  }
  

    /* 手機直式 */
    @media screen and (max-width: 414px){
    h2{
      font-size: 22px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .main-container{
      max-width: 400px;
      width: 90%;
    }
  }