/* bread crumb */
.bread-crumb-wrap ol{
    display: flex;
    margin-top: 25px;
    margin-left: 8.59375vw;
    margin-bottom: 75px;
}
.bread-crumb-wrap a{
    color: #3E4459;
    font-size: 16px;
    line-height: 22px;
}
.bread-crumb-wrap li + li::before{
    content: '/';
    display: inline-block;
    width: 20px;
}
.bread-crumb-wrap li + li{
    padding-left: 12px;
}


.FAQ{
    font-size: 7.5rem;
    color: #3E4459;
    margin-left: 110px;
    font-weight: 400;
}
.FAQ::after{
    content: 'FAQ';
    color:rgb(213,221,232);
    position: relative;
    right: 20.5%;
    z-index:-1;
}
.question-group{
    margin-top: 2.916667%;
    margin-left: 31%;
}

dt{
  font-size: 18px;
  width: 90%;
  color: #3E4459;
  line-height: 1.5;
  padding: 30px 0;
  position: relative;
  cursor: pointer;
}
dt::before{
  content: '';
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
  background-color: rgb(213,221,232);
  position: absolute;
  top: 40px;
  left: -20px;
  
}
dd{
  font-size: 1rem;
  width: 90%;
  color: #000;
  line-height: 1.7;
  padding: 35px 0;
  border-bottom: 1px solid rgb(213,221,232);
}
.border-bottom{
  border-bottom: 1px solid rgb(213,221,232);
}
.plusminus{
  font-size: 30px;
  color: #3E4459;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 87px;
}

@media screen and (max-width: 768px){ 
  .FAQ::after{
    right: 21%;
   }
}

@media screen and (max-width: 414px){
  .question-group {
    width: 90%;
    margin-left: 0%;
    }
  
  .FAQ{
    font-size: 40px;
    text-align: center;
  }
  .faqs{
    margin: 0 auto;
  }
}