header{
    width: 100%;
    background-color: #F7F5F2;
    box-shadow: 0 5px 7px #d9d9d9;
    position: sticky;
    top: 0;
    z-index: 5;
}
.container{
    /* max-width: 1200px; */
	/* margin: 0 auto; */
    display: flex;
	justify-content: space-between;
}
.logo{
	width: 82px;
	margin-top: 10px;
	margin-left: 10%;
}
.logo img{
	width: 100%;
	display: block; 
}
nav{
	padding-right: 5%;
}
.menu{
	display: flex;
}
.menu a{
	color:#3E4459;
	font-size: 0.875rem;
	display: inline-block;
	transition:  transform .6s, border-bottom .8s;
	border-bottom: 2px solid rgba(163, 186, 217, 0);
}
.menu li{
	padding: 2rem 1.5rem;
}
.menu li:hover > a{
	transform: translateY(-5px);
	border-bottom: 2px solid rgba(163, 186, 217, .7);
}
.explore{
	position: relative;
}
.explore ul{
	display: none;
	width: 115%;
	position: absolute;
	top: 100%;
	left:0;
	background-color: rgb(255, 255, 255, .7);
	backdrop-filter: blur(3px);
	border-radius: 0 0 5px 5px;
}
.explore:hover ul{
	display: block;
}