/* banner */
.banner{
	display: flex;
}
.banner-text{
	width: 87%;
	position: relative;
	z-index: 2;
	/* flex-shrink: 0; */
	/* box-sizing: border-box; */
	padding: 11.3%;
	animation: fadein 1.5s ease-in;
	animation-delay: 1s;
}
.banner h1{
	margin-top: 16.666666%;
	margin-bottom: 1.666666%;
	font-size: 2.5rem;
	font-weight: 500;
	color: #ffffff;
}
.banner-text p{
	font-size: 1rem;
	color: #101926;
	line-height: 1.5;
	width: 50%;
}
.banner-text .text1{
	position: relative;
	width: 100%;
}
.banner-text .text2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 31.8%;
    overflow: hidden;
}
.banner .text-dark-blue{
	color:#3E4459;
	margin: 0;
}
.text2 h1{
	width: 314%;
}
.banner-pic{
	width: 70%;
}
.banner img{
	max-width: 100%;
	display: block;
}
.banner > :first-child{
	margin-right: -54.45%;
}
@keyframes fadein {
    from{ opacity: 0.5; }
    to{ opacity: 1; }
}
.scroll i{
	font-size: 30px;
	color: rgba(163, 186, 217, 0.5);
	margin-top: 30px;
	margin-left: 20%;
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0); }
	50% {
	  -webkit-transform: translate(0, 10px);
			  transform: translate(0, 10px); }
	100% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0); } }
/* intro */
.intro{
	padding: 5% 8.333333% 3.333333%;
	margin-bottom: 5%;
	margin-top: 1.666666%;
	position: relative;
}
.intro h2{
	font-size: 2.25rem;
	line-height: 1.2;
	color: #3E4459;
	margin-left: 7%;
	position: relative;
}
.intro h2::before{
	content: url(image/index/Ellipse\ 16.svg);
	position: absolute;
	left: -1.25rem;
	top: -0.938rem;
	z-index: -1;
}
.intro p{
	margin-top: 2.916667%;
	max-width: 557px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	color: #3E4459;
	line-height: 2.125rem;
}
.intro span{
	position: relative;
	display: inline-block;
}
.intro span::after{
	content: '';
	width: 100%;
	height: 20px;
	background-color: #A3BAD9;
	opacity: .3;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: -1;
}

/* 滿版圖片 */
.intro-pic{
	position: relative;
	margin-bottom: 8.333333%;
}
.intro-pic img{
	width: 100vw;
	display: block;
	object-fit: cover;
}
.intro-pic p{
	color: #ffffff;
	font-size: 3rem;
	font-weight: 500;
	position: absolute;
	text-align: center;
	height: 44px;
	inset: 0;
	margin: auto;
	text-shadow: #666 0.03em 0.03em 0.1em;
}
/* 裝置layout */
.devices{
	display: flex;
}
.devices-card-layout{
	width: 60%;
	margin-left: 100px;
}
.devices-card-layout div:first-child{
	width: 35.416667%;
	position: relative;
	left: 8.611111%;
	box-shadow: 4px 4px 5px #90908e;
}
.devices-card-layout div:nth-child(2){
	width: 41.25%;
	position: relative;
	left: 39.1666%;
	bottom: 8.611111%;
	box-shadow: 4px 4px 5px #90908e;
}
.devices-card-layout div:nth-child(3){
	width: 44.861111%;
	position: relative;
	bottom: 16.11111%;
	box-shadow: 4px 4px 5px #90908e;
}
.devices-card{
	border-radius: 5px;
	overflow: hidden;
}
.devices-card img{
	width: 100%;
	display: block;
}
.devices-text{
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-right: 6.6%;
	padding-bottom: 8%;
}
.devices-text p{
	font-size: 1.5625em;
	line-height: 31px;
	margin-bottom: 60px;
	color: #3E4459;
	position: relative;
}
.devices-text p::before{
	content: url(image/index/Vector.svg);
	color: #DEE4EB;
	width: 28px;
	height: auto;
	position: absolute;
	top: -2.625em;
	left: -4%;
}
.devices-text p::after{
	content: url(image/index/Vector.svg);
	color: #DEE4EB;
	width: 28px;
	height: auto;
	transform: scaleX(-1);
	position: absolute;
	bottom: -2.625em;
	right: -2%;
}

/* 跑馬燈裝飾線 */
.deco-line{
	display: flex;
	flex-shrink: 0;
	overflow: hidden;
}
.deco-line p{
	/* width: 200%; */
	white-space:pre;
	color: #a3bad91a;
	font-size: 9rem;
	font-family: 'Roboto', sans-serif;
	animation: scroll 40s linear infinite;
}
.deco-line p:nth-child(2){
	animation: scroll2 40s linear infinite;
    animation-delay: -20s;
}
@keyframes scroll{
	from{transform: translateX(100%)}
	to{transform: translateX(-100%)}
  }
  
@keyframes scroll2{
	from{transform: translateX(0%)}
	to{transform: translateX(-200%)}
  }
/* intro of personalization */
.intro-personalization{
	display: flex;
	padding-bottom: 85px;
	background-image: url(image/index/bgc-noise-warm.jpg);
	overflow: hidden;
}
.intro-personalization-text{
	width: 53%;
	padding-top: 80px;
	padding-left: 8%;
	line-height: 1.2;
}
.intro-personalization-text h2{
	font-size: 2.5em;
	font-weight: 500;
	color: #3E4459;
	margin-bottom: 7%;
}
.intro-personalization-text p{
	font-size: 1.0625em;
	color: #3E4459;
	line-height: 1.7647;
	margin-bottom: 60px;
}
.intro-personalization-pic{
	width: 47%;
	padding-left: 50px;
	padding-top: 82px;
}
.intro-personalization-pic img{
	display: block;
}
/* carousel */
#sectionPin{
	height: 100vh;
}
.carousel{
	display: flex;
	max-width: 100%;
	margin-bottom: 100px;
	background-image: url(image/index/bgc-noise-warm.jpg);
}
.carousel-item{
	max-width: 425px;
	width: 100%;
	margin: 5% 0.5%;
	flex-shrink: 0;
	top: 0 !important;
	position: initial !important;
}
.carousel-item img{
	max-width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	transition: transform .6s ease;
}
body::-webkit-scrollbar {
    display: none;
}
/* 睡眠 */
.sleep-intro{
	display: flex;
	justify-content: center;
}
.sleep-intro-pic{
	width: 47.75%;
}
.sleep-intro-pic img{
	width: 100%;
}
.sleep-intro-txt{
	width: 35.416667%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 6.349206%;
    padding-bottom: 4.365079%;
    padding-left: 3.174603%;
    padding-right: 3.174603%;
}
.sleep-intro-txt p{
	color: #3E4459;
	font-size: 1.0625em;
	line-height: 1.764705;
	margin-top: 13.651877%;
    margin-bottom: 19.112628%;
}
.sleep-intro-txt h3{
	color: #3E4459;
	font-size: 1.875em;
	line-height: 1.2;
}
.sleep-intro-txt a{
	align-self: flex-end;
}

@media screen and (max-width: 1180px){
	.carousel-item{
		max-width: 370px;
	}
	.carousel-item{
		margin: 1% 0.5%;
	}
}

@media screen and (max-width: 880px){
	.carousel-item{
		max-width: 350px;
	}
	.carousel-item{
		margin: 1% 0.5%;
	}
}

/* RWD */
@media screen and (max-width: 768px){ 
	header{
		margin-bottom: 0px;
	}
	.banner, .intro, .devices, .intro-personalization, .sleep-intro{
		flex-wrap: wrap;
	}
	.banner > :first-child{
		margin-right: 0;
	}
	.banner-text{
		width: 100%;
		height: 100vh;
		padding-top: 35vh;
		padding-left: 21%;
		margin: 0 auto;
		background-image: url(image/index/banner-edit.jpg);
		background-position: top;
		background-size: cover;
		animation: none;
	}
	.banner h1{
		margin-top: 2%;
		margin-bottom: 1.666666%;
		font-size: 2em;
		font-weight: 500;
		color: #3E4459;
	}
	.banner-text p{
		color: #101926;
		line-height: 1.5;
		width: 100%;
	}
	.banner-pic{
		display: none;
	}
	.scroll{
		display: none;
	}
	.intro p{
		line-height: 1.5;
	}
	.devices{
		margin-bottom: 0;
	}
	.devices-card-layout, .devices-text, .intro-personalization-text, .intro-personalization-pic{
		width: 90%;
		margin: 0 auto;
	}
	.devices-card-layout{
		margin-left: 15%;
	}
	.devices-text{
		padding-right: 0;
	}
	.intro-personalization-pic{
		display: none;
	}
	.carousel-item{
		max-width: 300px;
		margin: 1% 0.5%;
	}
	.carousel-item img {
		height: 100vh;
	}
	.tablet-remove{
		display: none;
	}
	.pin-wrap{
		width:100%;
	}
	#sectionPin{
		margin-bottom: 50px;
	}
	.sleep-intro-pic {
		margin-top: 100px;
	}
	.sleep-intro-pic, .sleep-intro-txt{
		width: 90%;
		margin: 0 auto;
	}
	.sleep-intro-txt p {
		margin-top: 5%;
		margin-bottom: 7%;
	}
}

@media screen and (max-width: 414px){
	.banner-text{
		padding-top: 30vh;
	}
	.intro-pic p{
		font-size: 1.2rem;
	}
	.devices-text{
		padding-top: 7% ;
	}
	.intro-personalization-text p{
		line-height: 1.5;
	}
	.mobile-remove{
		display: none;
	}
}