/* *{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #3E4459;
}
img{
    max-width: 100%;
    display: block;
}
header{
    background-color: #F7F5F2;
}
.main-header{
    max-width: 720px;
    padding: 5px 10px;
    background-color: #F7F5F2;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.main-header .logo{
    width: 60px;
} */
