/* breadcrumb */
.bread-crumb-wrap{
	margin-top: 25px;
	margin-bottom: 80px;
}

.bread-crumb-wrap ol{
    display: flex;
    margin-left: 8.59375vw;
    margin-bottom: -25px;
}
.bread-crumb-wrap a{
    color: #3E4459;
    font-size: 16px;
    line-height: 1.375;
}
.bread-crumb-wrap li + li::before{
    content: '/';
    display: inline-block;
    width: 20px;
}
.bread-crumb-wrap li + li{
    padding-left: 12px;
}
h1{
	font-family: var(--main-font-family);
	color: var(--main-color);
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	white-space: pre;
}
.banner img{
	display: block;
	margin: 48px auto 77px;
	width: 856px;
	height: auto;
	object-fit: cover;
	animation: fadein 1.5s ease-in;
}
@keyframes fadein {
    from{ opacity: 0; }
    to{ opacity: 1; }
}
.txt-pic{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 3% 10%;
   perspective: 2000px;
	transform-style: preserve-3d;
	height: 100%;  
	overflow: hidden; 
}

.row-reverse{
	flex-direction: row-reverse;
}
.txt{
	width: 50%;
	padding-left: 4.5%;
	padding-right: 4.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pic{
	width: 50%;
}
.pic img{
	display: block;
	margin: 0 auto;
}
.txt h2{
	margin-top: 25px;
	margin-bottom: 30px;
	text-align: center;
	color: var(--black);
	font-weight: 700;
	font-family: var(--second-font-family);
	font-size: 25px;
	line-height: 30px;
}
.txt p{
	color: var(--main-color);
	font-family: var(--main-font-family);
	font-size: 17px;
	line-height: 1.764;
	color: var(--main-color);
	text-align: left;
}


  /* RWD */
  @media screen and (min-width: 1000px){
	.fast {
		transition: transform 0.5s ease;
	}
	.slow {
		transition: transform 0.5s ease;
	}
  }
  @media screen and (max-width: 768px){
	h1{
		font-size: 35px;
	}
	.banner img{
		margin: 5% auto 5%;
	}
	.txt-pic{
		padding: 0% 1%;
	}
	.txt{
		width: 90%;
		margin-bottom: 5%;
	}
	.pic{
		width: 100%;
	}
	.txt p{
		font-size: 16px;
		text-align: left;
	}
	.fast {
		transform: none !important;
	}
	.slow {
		transform: none !important;
	}
  }

  @media screen and (max-width: 414px){
	.txt h2 {
		font-size: 22px;
		margin-top: 6%;
    	margin-bottom: 6%;
	}
	.txt p {
		line-height: 1.5;		
  	}
  }

 