.wrap{
    background-image: url(picture/bg_noise_white.png);
}
.bread-crumb-wrap ol{
    display: flex;
    margin-left: 8.59375vw;
    margin-top: 25px;
    margin-bottom: -50px;
    position: relative;
    z-index: 0;
}

/* .bread-crumb-wrap ol{
    display: flex;
    margin-left: 110px;
    margin-bottom: 75px;
} */
.bread-crumb-wrap a{
    color: var(--black);
    font-size: 16px;
    line-height: 22px;
}
.bread-crumb-wrap li + li::before{
    content: '/';
    display: inline-block;
    color: var(--black);
    width: 20px;
}
.bread-crumb-wrap li + li{
    padding-left: 12px;
}
.banner-container{
    width: 100%;
    position: relative;
    z-index: -1;
}
.banner-pic img{
    width: 100%;
    height: 90vh;
    display: block;
    object-fit: cover;
}
.banner-container h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4.375rem;
    line-height: 1.2;
    text-align: center;
    width: 40%;
    color: var(--main-color);
    position: absolute;
    inset: 0;
    margin: 12% auto;
    animation: slidedown 1.5s ease-in-out, fadein 1.5s ease-in; 
}
@keyframes slidedown{
    from{transform: translateY(-100%);
    to{transform: translateY(0);}}
}
@keyframes fadein{
    from{ opacity: 0; }
    to{ opacity: 1; }
}
.category{
    margin: 75px auto 85px;
    color:#3E4459;
    font-family: 'Roboto Serif', serif;
    
}
.category h3{
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}
.category p{
    font-size: 1.0625em;
    line-height: 1.375em;
    width: 52%;
    margin: 0 auto;
}
.product-card-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.product-card a{
    display: block;
}
.product-card{
    width: 250px;
    padding: 0 2%;
}
.product-pic{
    margin-bottom: 35px;
    overflow: hidden;
}
.product-pic img{
    width: 100%;
    display: block;
    transition: transform .6s ease;
}
.product-pic:hover img{
    transform: scale(1.15);
}
.product-info{
    text-align: left;
    padding:0 15px ;
    color: #000;
    font-family: var(--second-font-family);
    font-size: 17px;
    line-height: 22px;
}
/* partners */
.partners{
    margin: 0 auto 100px;
}
.partners h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
    margin: 75px auto 40px;
    color:#3E4459;
    font-family: 'Roboto Serif', serif;
}
.partner-list{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    justify-content: center;
    align-items: center;
}
.partner-list li{
    width: 190px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-list li img{
    max-width: 50%;
}