
/* 麵包屑 */
.bread-crumb-wrap{
	margin-top: 25px;
	margin-bottom: 80px;
}
.bread-crumb-wrap ol{
    display: flex;
    margin-left: 8.59375vw;
    margin-bottom: -25px;
}
.bread-crumb-wrap a{
    color: #3E4459;
    font-size: 16px;
    line-height: 22px;
}
.bread-crumb-wrap li + li::before{
    content: '/';
    display: inline-block;
    width: 20px;
}
.bread-crumb-wrap li + li{
    padding-left: 12px;
}
.slogan h1{
    font-size: 2.5rem;
    font-family: var(--second-font-family);
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 35px;
}
.slogan i{
    font-style: italic;
}
.slogan span{
   background: linear-gradient(to top, transparent 5%, #A3BAD9 30%, transparent 30%);
}
.slogan p{
    color: #333;
    margin-bottom: 35px;
    font-family: var(--main-font-family);
    font-size: 1.25rem;
    text-align: center;
}

/* banner區 */
.banner{
    background-color: #DEE4EB;
    padding-top: 6%;
    padding-bottom: 4.083333%;
    margin-bottom: 125px;
}
.picture{
    display: flex;
    justify-content: center;
    margin-bottom: 5.666666%;
}
.picture img{
    display: block;
    border-radius: 10px;
    margin: 0 1.916667%;
}
.feature{
    max-width: 600px;
    width: 100%;
}
.feature ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.feature li{
    width: 25%;
    text-align: center;
}
.feature img{
    display: block;
    margin: auto;
    margin-bottom: 15%;
}
.feature span{
    font-family: var(--second-font-family);
    font-weight: 500;
}
.definition{
    max-width: 882px;
    width: 100%;
    margin-bottom: 120px;
}
.definition h2{
    font-size: 3.438rem;
    font-weight: 500;
    line-height: 1.109;
    text-align: center;
    color: var(--main-color);
    font-family: var(--second-font-family);
}
/* 功能介紹 */
.main-container{
    background-image: url(image/index/bgc-noise-warm.jpg);
}
.container-inner{
    width: calc(100% - 80px);
    padding-top: 50px;
    padding-bottom: 70px;
}
.sentence{
    font-family: var(--main-font-family);
    color: #000;
    font-size: 30px;
    margin-bottom: 70px;
    margin-left: 50px;
    line-height: 1.2;
}
.title{
    font-family: var(--main-font-family);
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 23px;
}
.small-txt{
    font-family: var(--main-font-family);
    color: #000;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 35px;
}
.function{
    max-width: 1050px;
    display: flex;
    flex-wrap: wrap;
    /* width: 90%; */
    justify-content: space-between;
    margin: 0 auto;
    /* align-items: center; */
}
.function-feature-pic img {
    display: block;
    width: 360px;
    border-radius: 10px;
    margin: 0 auto;
}
.function-feature-list .icon{
    overflow: hidden;
}
.function-feature-list .icon img{
    width: 35px;
    height: 35px;
}
.icon.w45 img{
    width: 45px;
    height: 45px;
}
.function-feature-list li{
    background-color: #DEE4EB;
    padding: 26px 28px 26px 25px;
    margin-bottom: 23px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.icon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    /* width: 100%; */
    display: block;
}
.txt{
    font-family: var(--main-font-family);
    margin-left: 10px;
    font-size: 17px;
    line-height: 1.29;
}
.txt h3{
    font-weight: 600;
}
.row-reverse{
    flex-direction: row-reverse;
}
.bg-white{
    background-color: #fff;
}
.columns3{
    width: 83.3333%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding: 30px 15px 0;
}
.column{
    margin: 0 15px 50px;
}
.column-pic{
    margin-bottom: 40px;
}
.column-pic img{
    width: 100%;
    vertical-align: top;
}
.column-txt{
    padding-left: 2px;
    padding-right: 2px;
}
.column-txt h3, .column-txt p{
    font-family: var(--main-font-family);
    color: var(--main-color);
    line-height: 1.5;
}
.column-txt h3{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 28px;
    white-space: pre;
}
.column-txt p{
    text-align-last: left;
    padding-left: 8px;
    padding-right: 8px;
}
section.bg-white{
    padding-bottom: 20px;
}
.small-sentence{
    font-size: 30px;
}
.title-dark-blue{
    color:var(--main-color);
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.title-dark-blue span{
    position: relative;
}
.title-dark-blue span::after{
    content: url(image/what_is_your_sentiment/stroke.png);
    position: absolute;
    left: 0px;
    top: 20px;
}

.grid-container{
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    margin: 0 auto 60px;
  }
  
.grid-item {
    width: 100%;
}

.grid-item{
    box-sizing: border-box;
    opacity: 1;
    transition: .5s;
}
.grid-item:hover{
    opacity: 0.7;
}
.grid-item img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.grid6{
    background-color: #AA9F91;
    width: 100%;
    height: 100%;
}
.grid7{
    background-color: #A7C0C6;
    width: 100%;
    height: 100%;
}
.call-to-action{
    font-family: var(--second-font-family);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 120px;
    line-height: 1.2;
}
.call-to-action i{
    font-style: italic;
}


@media screen and (max-width: 1110px){
    .container-inner {
        width: 100%;
    }
}
@media screen and (max-width: 1055.33px) {
    .function{
        justify-content: center;
    }
    .function-feature-pic{
        width: 50%;
     }
     .function-feature-list{
        width: 50%;
    }
    .function-feature-list li {
        padding: 26px 28px 26px 20px;
    }
}
@media screen and (max-width: 768px){
    /* .bread-crumb-wrap a{
      font-size: 14px;
    }
    .bread-crumb-wrap li + li::before{
      content: '/';
      display: inline-block;
      width: 10px;
    }
    .bread-crumb-wrap li + li{
      padding-left: 5px;
    } */
    .bread-crumb-wrap{
      display: none;
    }
    /* header a{
      font-size: 12px;
    } */
    
    h1{
      font-size: 35px;
    }
    .container{
      padding: 2% 5%;
    }
    .function-feature-pic{
        width: 100%;
        order: 1;
        margin-bottom: 20px; 
     }
    .function-feature-list{
        width: 90%;
        order:2;
    }
    .grid{
        width: 600px;
    }
    .call-to-action{
        padding-left: 10px;
        padding-right: 10px;
    }
  }
  
    @media screen and (max-width: 414px){
    .slogan{
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .slogan h1{
        font-size: 2rem;
    }
    img.hidden{
        display: none;
    }
    h2{
      font-size: 22px;
    }
    
    .feature{
        max-width: 320px;
    }
    .feature li {
        width: 50%;
        margin-bottom: 10px;
    }
    .banner {
        margin-bottom: 25px;
    }
    .definition{
        width: 97%;
        margin-bottom: 50px;
    }
    .definition h2{
        font-size: 2rem;
    }
    .sentence{
        font-size: 25px;
    }
    .function-feature-list li {
        padding: 26px 28px 26px 10px;
    }
    .call-to-action{
       max-width: 95%;
       margin-left: auto;
       margin-right: auto;
    }
}